
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('woff2');  
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('woff2');  
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('woff2');  
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('woff2');  
  font-weight: 700;
  font-style: italic;
}